body {
    margin: 0;
    font-family: 'Futura', Arial, sans-serif;
    background-image: url(images/studies_photo.jpg);
    opacity: 0.8;
}

.background {
    background-color: rgba(31, 72, 222, 0.631);
}

/* NAV CSS */
nav {
    position: fixed;
    width: 100%;
    background-color: rgba(120, 147, 149, 0.5);
}

nav .nav-section {
    display: flex;
    height: 5vw;
    font-size: 2vw;
}

.nav-section * {
    line-height: 5vw;
    color: #FBFFFE;
}

nav .name {
    margin-left: 5vw;
}

nav .links {
    margin-left: 25vw;
}

.links a {
    margin-right: 4vw;
    padding-top: 1vw;
}

.links a:hover {
    text-decoration: underline;
}

/* INTRODUCTION CSS */

.introduction-section {
    width: 100%;
    height: 100vh;
}

.my-image-div {
    width: 25%;
    float: left;
}

.my-image {
    height: 26vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vw;
    display: block;
}

.my-description-div {
    width: 75%;
    float: left;
    margin-top: 22vw;
    background-color: rgba(39, 48, 48, 0.5);
    border-radius: 5vw;
    text-align: center;
}

.my-title-desc {
    font-size: 200%;
    color: white;
}

.my-position {
    font-size: 150%;
    color: white;
}

.description {
    height: 80%;
    color: white;
}

/* SKILLS CSS */

.skills-section {
    background-color: rgba(39, 48, 48, 0.5);
    border-radius: 5vw;
    height: 90vh;
    text-align: center;
    padding-top: 5vw;
}

.skills-section .skills-header {
    color: white;
}
/* PROJECTS CSS */
/* FOOTER CSS */

/* MEDIA CSS */
@media screen and (max-width: 800px) {
    .my-image-div {
        width: 100%;
    }

    .my-description-div {
      width: 100%;
      text-align: center;
      height: 50%;
    }

    .skills-section {
        margin-top: 100%;
        height: 30%;
    }
}